label#menu {
  display: block;
  width: 40px;
  height: 36px;
  position: relative;
  cursor: pointer;

  display: none;
}
label#menu div {
  position: absolute;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  transition: width 0.2s ease 0.2s, -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6);
  transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6), width 0.2s ease 0.2s;
  transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6), width 0.2s ease 0.2s, -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6);
}
label#menu input {
  display: none;
}
label#menu input + div {
  top: 50%;
  left: 0;
  margin: -2px 0 0 0;
  width: 40px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
label#menu input + div + div {
  top: 2px;
  left: 0;
  width: 20px;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}
label#menu input + div + div + div {
  bottom: 2px;
  right: 0;
  width: 28px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translate(-12px, 0);
          transform: translate(-12px, 0);
}
label#menu input:checked + div {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
  transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
  transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
}
label#menu input:checked + div + div {
  width: 19px;
  -webkit-transform: translate(6px, 0) rotate(45deg);
          transform: translate(6px, 0) rotate(45deg);
  transition: width 0.2s ease, -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
  transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease;
  transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease, -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
}
label#menu input:checked + div + div + div {
  width: 19px;
  -webkit-transform: translate(-6px, 0) rotate(45deg);
          transform: translate(-6px, 0) rotate(45deg);
  transition: width 0.2s ease, -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
  transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease;
  transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease, -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

/* body {
  min-height: 100vh;
  font-family: Roboto, Arial;
  color: #ADAFB6;
  background: #5628EE;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* body .dribbble {
  position: fixed;
  display: block;
  right: 24px;
  bottom: 24px;
}
body .dribbble img {
  display: block;
  width: 76px;
} */